<?xml version="1.0" encoding="UTF-8"?>
<!--
    status="OFF" 日志框架本身的输出日志级别
    日志级别：ALL < TRACE < DEBUG < INFO < WARN < ERROR < FATAL < OFF
    monitorInterval="60" 自动加载配置文件的间隔时间，不低于 60 秒
-->
<Configuration status="OFF" monitorInterval="60">
    <!--集中配置属性进行管理 使用时通过：${name}-->
    <properties>
        <property name="LOG_HOME">/logs</property>
        <property name="FILE_NAME">edgeLog</property>
    </properties>
    <!--日志处理-->
    <Appenders>
        <!--控制台输出 appender-->
        <!--SYSTEM_ERR表示输出字体为红色，SYSTEM_OUT表示输出字体为黑色-->
        <Console name="Console" target="SYSTEM_ERR">
            <!--
                日志输出格式：
                %d{patter} 日期
                %m 信息
                %M 方法
                %L 行号
                %c 类的完整名称
                %t 线程名称
                %-5level 表示日志级别占5个字符，不足向左对齐
                %n 换行
            -->
            <!--ThresholdFilter指定日志消息的输出最低层次-->
            <ThresholdFilter level="ALL" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] [%-5level] %c{36}:%L --- %m%n" />
        </Console>

        <!--输出到mongodb数据库-->
        <NoSql name="databaseAppender" bufferSize="1">
            <Filters>
                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <MongoDb databaseName="edge" collectionName="log4j2" server="127.0.0.1" port="27017"/>
        </NoSql>

        <!--配置异步写日志-->
        <Async name="Async">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="databaseAppender"/>
        </Async>

    </Appenders>
    <!--logger 定义-->
    <Loggers>
        <!--自定义的logger-->
        <!--name为自定义logger使用的路径,additivity表示自定义logger是否继承父类-->
        <Logger name="cn.edu.bjtu.ebossurveillance.service.log" level="debug" additivity="false">
            <Appender-Ref ref="databaseAppender"/>
        </Logger>
        <Logger name="org.springframework" level="info" additivity="false"/>
        <!--配置root logger-->
        <Root level="debug">
            <Appender-Ref ref="Console"/>
        </Root>
    </Loggers>

</Configuration>